* {
  padding: 0px;
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

header img {
  height: 3.5rem;
  padding-left: 2rem;
  margin: auto 0;
}

header span {
  font-weight: bold;
  margin: auto 0;
  padding-right: 2rem;
  color: #050038;
}

footer {
  background-color: #050038;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p a {
  font-size: medium;
}

footer a {
  color: #fff;
  text-decoration: none;
  padding-left: 1rem;
}

body {
  background-color: #DDF4F7;
  width: 100vw;
}

body h1 {
  color: #050038;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.home-container h1 {
  font-size: 8rem;
}

.home-container button {
  font-size: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

body p {
  color: #050038;
  font-size: large;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-container h1 {
  font-size: 4rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3rem;
}


button {
  background-color: #050038;
  color: #fff;
  padding: 0.25rem;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
}

button:hover {
  background-color: #100475;
  transition: all 0.15s;
}

#home-button {
  margin-top: 2rem;
}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

form {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

input {
  width: 100%;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem 0;
  border: 1.5px solid #050038;
  box-sizing: border-box;
  border-radius: 8px;
}

.login-container form button {
  margin-top: 1rem;
}